doctype html
html
  head
    style(type='text/css').
           body {
                background: url('!{imageURI}');
                background-size: cover;
                background-repeat: no-repeat; 
                height: 300px;
            }
  body #{imageURI}

block content
  h1 Tweets
    div Here lies error codes 403, 401, 200, and 99.
      //li=tweets.text